@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {

    @apply bg-body-background;
    @apply font-sans;
    /* @apply bg-body-background; */
  }
}

.no-hover {
  /* background-color: blue !important; */
  color: rgb(0, 0, 0) !important;
  border: none !important;
  transition: none !important;
  padding: 0 !important;

  outline: none !important;
  box-shadow: none !important;
}

.no-hover label {
  padding: 0 !important;
}

.no-hover:hover {
  /* background-color: blue !important; */
  outline: none !important;
  box-shadow: none !important;
  /* No hover change */
}
